// COLOR VARIABLES
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);

  --line: 1px solid var(--color-grey-light-2);
}

// FONT VARIABLES
$font-primary: 'Poppins', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium-large: 62em; // 992px
$bp-medium: 50em;    // 800px;
$dp-medium-small: 48em; // 768px
$bp-small: 37.5em;    // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }

}

body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  min-height: 100vh;
}


/* Grid */

.column {
  flex-basis: 100%;
  max-width: 100%;
  width: 100%;
}

@media screen and (min-width: $bp-medium) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .column {
    flex: 1;
    max-width: $bp-largest;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.p-3{
  padding-top: 3rem;
}

.ui.primary.button, .ui.primary.buttons .button {
  background-color: var(--color-primary);
  font-weight: 600;
  font-size: 1.5rem;

  &:hover{
    background-color: var(--color-grey-dark-2-8);
  }
}
