.profile{
  position: relative;
  max-width: $bp-largest;
  margin: 2rem auto;
  padding: 1rem;
  font-size: 2rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 2rem;
  }
}

.ui {
  font-size: 1.5rem !important;
}