header {
  position: relative;
  max-width: $bp-largest;
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  box-sizing: border-box;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.2);

  @media only screen and (max-width: $bp-largest) {
    margin: 2.0rem;
  }
}

.header-toast{
  max-width: $bp-largest;
  margin: 2rem auto;
  padding: 1rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 2rem;
  }
}

.logo{
  color: var(--color-primary);
  height: 6rem;
  font-size: 3.6rem;
  line-height: 6rem;
  padding: 0 2rem;
  background: var(--color-grey-light-1);
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
  transition: all .3s;
}

.logo:hover {
  color: rgba(253, 111, 111, 0.63) !important;
  text-decoration: none;
  transition: all .3s;
}

nav{
  float: right;

  @media only screen and (max-width: $dp-medium-small) {
    display: none;

    &.active{
      display: block;
      width: 100%;

      & ul {
        display: block;

         & li a {
           margin: 0;
         }
      }
    }
  }

  & ul {
    margin: 0;
    padding:  0;
    display: flex;

    & li {
      list-style: none;

      & a {
        display: block;
        margin: 1rem 0;
        padding: 1rem 2rem;
        text-decoration: none;
        color: #262626;
        font-size: 1.6rem;

        &.active,
        &:hover {
          background: var(--color-primary);
          color: #fff;
          transition: 0.5s;
        }
      }

      & button{
        display: block;
        margin: 1rem 0;
        padding: 1rem 2rem;
        text-decoration: none;
        color: var(--color-grey-dark-2);
        font-size: 1.6rem;
        border-radius: 3rem;
        background: transparent;
        border: .1rem solid var(--color-grey-dark-2);
        box-shadow: 0 0.2rem 0.5rem var(--color-grey-dark-2);

        &:hover{
          color: var(--color-grey-light-1);
          background-color: var(--color-grey-dark-1);
          font-weight: 500;
          transition: 0.5s;
        }
      }

    }
  }

}
.clearfix{
  clear: both;
}

.menu-toggle{

  @media only screen and (max-width: $dp-medium-small) {
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 1rem;
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 3rem;
    color: var(--color-primary-dark);

    &:before{
      content: '\f0c9';
      font-family: fontAwesome, sans-serif;
      line-height: 4rem;
    }
    &.active:before{
      content: '\f00d';
    }
  }
}



// authentication
.modal {
  display: none;
  width: 75.0rem;
  max-width: 100%;
  height: 50.0rem;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 6.0rem 1.0rem rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
}
.opened {
  display: block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  background: rgba(31, 28, 28, 0.8);
}

.modal .close-button {
  position: absolute;

  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;

  top: 1.0rem;

  /* needs to look OK with or without scrollbar */
  right: 2.0rem;

  border: 0;
  background: black;
  color: white;
  padding: .5rem 1.0rem;
  font-size: 1.3rem;
}


// Register login models tabs
.modal-tabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 2.0rem 5.0rem 2.0rem 2.0rem;
  margin: 20px;

   .state{
     position: absolute;
     left: -10000px;
   }

  .flex-tabs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

        .tab{
          flex-grow: 1;
          max-height: 40px;
        }

        .panel {
          background-color: #fff;
          padding: 20px;
          min-height: 300px;
          display: none;
          width: 100%;
          flex-basis: auto;
        }
    }

    .tab {
      display: inline-block;
      padding: 10px;
      vertical-align: top;
      background-color: #eee;
      cursor: hand;
      cursor: pointer;
      border-left: 10px solid #ccc;

      &:hover{
        background-color: #fff;
      }
    }
}


#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label{
  background-color: #fff;
  cursor: default;
  border-left-color: #69be28;
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel{
  display: block;
}

@media (max-width: 600px){
  .flex-tabs{
    flex-direction: column;

    .tab{
      background: #fff;
      border-bottom: 1px solid #ccc;

      &:last-of-type{
        border-bottom: none;
      }
    }

    #tab-one-label{order:1;}
    #tab-two-label{order: 3;}
    #tab-one-panel{order: 2;}
    #tab-two-panel{order: 4;}
  }

  #tab-one:checked ~ .tabs #tab-one-label,
  #tab-two:checked ~ .tabs #tab-two-label{
    border-bottom: none;
  }

  #tab-one:checked ~ .tabs #tab-one-panel,
  #tab-two:checked ~ .tabs #tab-two-panel{
    border-bottom: 1px solid #ccc;
  }
}

// Drop Down
nav ul ul {
  display: none;
}

@media (min-width: $dp-medium-small) {
  nav ul ul {
    display: none;
    position:absolute;
  }
}

nav ul li:hover > ul {
  display:block;
  color:#fff;
  padding-left:2rem;
}

@media (min-width: $dp-medium-small) {
  nav ul li:hover > ul {
    padding-left:0;
    background:#777;
  }

  nav ul li:hover > ul a{
    color:#fff;
  }

  .sub-menu{
    li{
      display:flex;
      padding-right:2em;
    }

    li:hover, li a:hover{
      background:#ddd;
      color:#777;
    }
  }

}


ul.sub-menu li {
  padding: 0;
  margin: 0;
}

ul.sub-menu a {
  font-size: 1.4rem;
}
