.style_footer {
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
  }

.phantom  {
  display: block;
  padding: 20px;
  height: 30px;
  width: 100%;
  }